In [1]:
import pandas as pd
import numpy as np
import sklearn as skl
from sklearn import preprocessing
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

# Education:

In [2]:
#load education data
#include 'high school or higher' and 'college or higher' for pop 25+
col_1 = 'Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over'
col_2 = 'Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!High school graduate or higher'
col_3 = "Margin of Error!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree or higher"
education = pd.read_csv('C:/Users/rgale/team_117/data/education.csv',skiprows=1, usecols=['id','Geographic Area Name',col_1,col_2,col_3])
#rename the columns
education = education.rename(columns={col_1:'Population 25+',col_2:'High school graduate or higher',col_3:"Bachelor's degree or higher",'Geographic Area Name':'Location'})
education.head()

,id,Location,Population 25+,High school graduate or higher,Bachelor's degree or higher
0,0500000US01001,"Autauga County, Alabama",37367,33076,766
1,0500000US01003,"Baldwin County, Alabama",151112,137219,1866
2,0500000US01005,"Barbour County, Alabama",17964,13152,254
3,0500000US01007,"Bibb County, Alabama",16168,12782,354
4,0500000US01009,"Blount County, Alabama",39791,32028,498

In [3]:
#add column for percentage of people without a high school degree
education['pct_no_high_school_degree']=((education['Population 25+']-education['High school graduate or higher'].astype('float64'))/education['Population 25+'].astype('float64')*100)

In [4]:
#add column for percentage of people without a bachelor's degree
education['pct_no_college_degree']=((education['Population 25+']-education["Bachelor's degree or higher"].astype('float64'))/education['Population 25+'].astype('float64')*100)

In [5]:
#add FIPS code
fips = []
for county_id in education['id']:
    fips_i = county_id[-5:]
#     print(fips)
    fips.append(fips_i)

In [6]:
#add column with the FIPS codes
education['FIPS'] = fips
education.head()

,id,Location,Population 25+,High school graduate or higher,Bachelor's degree or higher,pct_no_high_school_degree,pct_no_college_degree,FIPS
0,0500000US01001,"Autauga County, Alabama",37367,33076,766,11.483394,97.950063,01001
1,0500000US01003,"Baldwin County, Alabama",151112,137219,1866,9.193843,98.765154,01003
2,0500000US01005,"Barbour County, Alabama",17964,13152,254,26.786907,98.586061,01005
3,0500000US01007,"Bibb County, Alabama",16168,12782,354,20.942603,97.810490,01007
4,0500000US01009,"Blount County, Alabama",39791,32028,498,19.509437,98.748461,01009

In [7]:
#make the FIPS column into a string
education['FIPS']=education['FIPS'].astype(str)

# Poverty and Median Income

In [8]:
#read the poverty and income data 
poverty = pd.read_csv('C:/Users/rgale/team_117/data/poverty.csv', usecols=['County ID','State / County Name','All Ages in Poverty Percent','Median Household Income in Dollars'])

#rename columns
poverty = poverty.rename(columns={'County ID':'FIPS_code','All Ages in Poverty Percent':'pct_poverty','Median Household Income in Dollars':"median_income"})
poverty.head()

   FIPS_code  State / County Name  pct_poverty median_income
0          0        United States         12.3       $65,712
1       1000              Alabama         15.6       $51,771
2       1001  Autauga County (AL)         12.1       $58,233
3       1003  Baldwin County (AL)         10.1       $59,871
4       1005  Barbour County (AL)         27.1       $35,972

In [9]:
#make the FIPS column into a string
poverty['FIPS_code']=poverty['FIPS_code'].astype(str)

In [10]:
#merge data
education = pd.merge(education, poverty, left_on=['FIPS'], right_on=['FIPS_code'])

In [11]:
#remove unecessary columns
education=education.drop(columns=['Population 25+','High school graduate or higher',"Bachelor's degree or higher", 'FIPS_code','State / County Name', 'id'])
education.head()

,Location,pct_no_high_school_degree,pct_no_college_degree,FIPS,pct_poverty,median_income
0,"Kent County, Delaware",12.565436,99.083470,10001,12.7,"$58,804"
1,"New Castle County, Delaware",8.356334,99.356162,10003,10.4,"$76,076"
2,"Sussex County, Delaware",11.879243,99.192569,10005,12.1,"$64,839"
3,"District of Columbia, District of Columbia",9.076816,99.585927,11001,14.1,"$90,395"
4,"Alachua County, Florida",7.388892,98.926612,12001,18.4,"$49,880"

# Industries

In [12]:
#read the industry data file
industries = pd.read_excel('C:/Users/rgale/team_117/data/industries.xlsx')

In [13]:
#find only the county-level rows
industries = industries.loc[(industries['Area Type'] == 'County')]

In [14]:
industries.head()

,Area\nCode,St,Cnty,Own,NAICS,Year,Qtr,Area Type,St Name,Area,Ownership,Industry,Annual Average Status Code,Annual Average Establishment Count,Annual Average Employment,Annual Total Wages,Annual Average Weekly Wage,Annual Average Pay,Employment Location Quotient Relative to U.S.,Total Wage Location Quotient Relative to U.S.
35,01001,01,1.0,0,10,2019,A,County,Alabama,"Autauga County, Alabama",Total Covered,"10 Total, all industries",NaN,888,11107,448078198,776,40344,1.00,1.00
36,01001,01,1.0,1,10,2019,A,County,Alabama,"Autauga County, Alabama",Federal Government,"10 Total, all industries",NaN,12,82,4466579,1043,54250,0.39,0.37
37,01001,01,1.0,2,10,2019,A,County,Alabama,"Autauga County, Alabama",State Government,"10 Total, all industries",NaN,19,582,25879210,856,44491,1.66,1.73
38,01001,01,1.0,3,10,2019,A,County,Alabama,"Autauga County, Alabama",Local Government,"10 Total, all industries",NaN,32,1911,73489430,740,38458,1.79,1.90
39,01001,01,1.0,5,10,2019,A,County,Alabama,"Autauga County, Alabama",Private,"10 Total, all industries",NaN,825,8532,344242979,776,40349,0.90,0.90

In [15]:
#sum all jobs for all the industries 
totals = industries.loc[(industries['Industry'] == '10 Total, all industries') & (industries['Ownership'] == 'Total Covered')]
#this is for tourism, leisure, and hospitality: the hardest-hit industry from the pandemic shutdowns
#run similar lines to find other industries
leisure = industries.loc[(industries['Industry'] == '1026 Leisure and hospitality')]

In [16]:
#merge the two "totals" (all industries and leisure jobs)
leisure = pd.merge(leisure, totals, left_on='Area\nCode', right_on='Area\nCode')

In [17]:
#calculate the percentage of leisure jobs from the total jobs in a given county
leisure['pct_jobs_tourism_leisure_hospitality'] = leisure['Annual Average Employment_x']/leisure['Annual Average Employment_y']*100

In [18]:
leisure.head()

,Area\nCode,St_x,Cnty_x,Own_x,NAICS_x,Year_x,Qtr_x,Area Type_x,St Name_x,Area_x,Ownership_x,Industry_x,Annual Average Status Code_x,Annual Average Establishment Count_x,Annual Average Employment_x,Annual Total Wages_x,Annual Average Weekly Wage_x,Annual Average Pay_x,Employment Location Quotient Relative to U.S._x,Total Wage Location Quotient Relative to U.S._x,St_y,Cnty_y,Own_y,NAICS_y,Year_y,Qtr_y,Area Type_y,St Name_y,Area_y,Ownership_y,Industry_y,Annual Average Status Code_y,Annual Average Establishment Count_y,Annual Average Employment_y,Annual Total Wages_y,Annual Average Weekly Wage_y,Annual Average Pay_y,Employment Location Quotient Relative to U.S._y,Total Wage Location Quotient Relative to U.S._y,pct_jobs_tourism_leisure_hospitality
0,01001,01,1.0,5,1026,2019,A,County,Alabama,"Autauga County, Alabama",Private,1026 Leisure and hospitality,NaN,88,1579,22374257,272,14170,1.28,1.06,01,1.0,0,10,2019,A,County,Alabama,"Autauga County, Alabama",Total Covered,"10 Total, all industries",NaN,888,11107,448078198,776,40344,1.0,1.0,14.216260
1,01003,01,3.0,5,1026,2019,A,County,Alabama,"Baldwin County, Alabama",Private,1026 Leisure and hospitality,NaN,747,15913,337551547,408,21212,1.87,2.45,01,3.0,0,10,2019,A,County,Alabama,"Baldwin County, Alabama",Total Covered,"10 Total, all industries",NaN,6471,76419,2926328541,736,38293,1.0,1.0,20.823355
2,01005,01,5.0,5,1026,2019,A,County,Alabama,"Barbour County, Alabama",Private,1026 Leisure and hospitality,NaN,63,762,10266855,259,13471,0.83,0.71,01,5.0,0,10,2019,A,County,Alabama,"Barbour County, Alabama",Total Covered,"10 Total, all industries",NaN,562,8239,307946374,719,37376,1.0,1.0,9.248695
3,01007,01,7.0,5,1026,2019,A,County,Alabama,"Bibb County, Alabama",Private,1026 Leisure and hospitality,NaN,18,200,2742476,263,13701,0.39,0.29,01,7.0,0,10,2019,A,County,Alabama,"Bibb County, Alabama",Total Covered,"10 Total, all industries",NaN,370,4602,197822899,827,42983,1.0,1.0,4.345937
4,01009,01,9.0,5,1026,2019,A,County,Alabama,"Blount County, Alabama",Private,1026 Leisure and hospitality,NaN,56,901,11379127,243,12626,0.93,0.77,01,9.0,0,10,2019,A,County,Alabama,"Blount County, Alabama",Total Covered,"10 Total, all industries",NaN,787,8712,312366933,689,35853,1.0,1.0,10.342057

In [19]:
#keep only the columns needed
leisure = leisure[['Area\nCode', 'pct_jobs_tourism_leisure_hospitality']]

In [20]:
#merge with the rest of the clean data
education = pd.merge(education, leisure, left_on='FIPS', right_on='Area\nCode', how='left')

In [21]:
#drop unecessary column
education = education.drop(columns = ['Area\nCode'])

In [22]:
education.head()

,Location,pct_no_high_school_degree,pct_no_college_degree,FIPS,pct_poverty,median_income,pct_jobs_tourism_leisure_hospitality
0,"Kent County, Delaware",12.565436,99.083470,10001,12.7,"$58,804",12.127023
1,"New Castle County, Delaware",8.356334,99.356162,10003,10.4,"$76,076",10.139226
2,"Sussex County, Delaware",11.879243,99.192569,10005,12.1,"$64,839",17.822374
3,"District of Columbia, District of Columbia",9.076816,99.585927,11001,14.1,"$90,395",10.508416
4,"Alachua County, Florida",7.388892,98.926612,12001,18.4,"$49,880",11.710262

# Evictions

In [27]:
#this data comes from The Eviction Lab

'''     CITE: This research uses data from The Eviction Lab at Princeton University, a project directed by Matthew Desmond and designed by Ashley Gromis, Lavar Edmonds, James Hendrickson, Katie Krywokulski, Lillian Leung, and Adam Porton. The Eviction Lab is funded by the JPB, Gates, and Ford Foundations as well as the Chan Zuckerberg Initiative. More information is found at evictionlab.org. '''

'     CITE: This research uses data from The Eviction Lab at Princeton University, a project directed by Matthew Desmond and designed by Ashley Gromis, Lavar Edmonds, James Hendrickson, Katie Krywokulski, Lillian Leung, and Adam Porton. The Eviction Lab is funded by the JPB, Gates, and Ford Foundations as well as the Chan Zuckerberg Initiative. More information is found at evictionlab.org. '

In [24]:
evictions = pd.read_csv('C:/Users/rgale/team_117/data/all-counties.csv')
evictions.head()

,GEOID,year,name,parent.location,population,poverty.rate,renter.occupied.households,pct.renter.occupied,median.gross.rent,median.household.income,median.property.value,rent.burden,pct.white,pct.af.am,pct.hispanic,pct.am.ind,pct.asian,pct.nh.pi,pct.multiple,pct.other,eviction.filings,evictions,eviction.rate,eviction.filing.rate,low.flag,imputed,subbed
0,2013,2009,Aleutians East Borough,Alaska,2959.0,8.37,263,58.59,654.0,56250.0,122100.0,18.0,9.97,9.83,9.50,17.17,47.48,0.34,5.58,0.14,0.0,NaN,NaN,0.0,0,0,1
1,2013,2010,Aleutians East Borough,Alaska,3141.0,6.28,268,48.46,847.0,58125.0,120900.0,20.6,13.53,6.75,12.26,27.67,35.43,0.60,3.72,0.03,0.0,NaN,NaN,0.0,0,0,1
2,2013,2013,Aleutians East Borough,Alaska,3304.0,12.74,274,46.52,930.0,61518.0,126100.0,22.0,14.98,9.17,12.05,29.00,30.51,1.12,3.18,0.00,0.0,NaN,NaN,0.0,0,0,1
3,2013,2015,Aleutians East Borough,Alaska,3304.0,12.74,278,46.52,930.0,61518.0,126100.0,22.0,14.98,9.17,12.05,29.00,30.51,1.12,3.18,0.00,0.0,NaN,NaN,0.0,0,0,1
4,2016,2016,Aleutians West Census Area,Alaska,5684.0,5.81,849,67.75,1270.0,84306.0,217500.0,19.4,27.76,4.61,10.96,12.95,36.77,2.45,4.40,0.11,0.0,NaN,NaN,0.0,0,0,1