# Mortgage Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('RawData/MortgageData.csv')
df.head()

   _id         geoid                     name  year  total_est  total_se
0    1  05000US01003  Baldwin County, Alabama  2009  60.568504  2.151021
1    2  05000US01003  Baldwin County, Alabama  2010  59.344303  2.167124
2    3  05000US01003  Baldwin County, Alabama  2011  64.713257  2.854353
3    4  05000US01003  Baldwin County, Alabama  2012  58.466194  2.189069
4    5  05000US01003  Baldwin County, Alabama  2013  58.305519  2.135842

In [3]:
df['FIPS_county']= df['geoid'].str[-5:]

In [4]:
df.head()

,_id,geoid,name,year,total_est,total_se,FIPS_county
0,1,05000US01003,"Baldwin County, Alabama",2009,60.568504,2.151021,01003
1,2,05000US01003,"Baldwin County, Alabama",2010,59.344303,2.167124,01003
2,3,05000US01003,"Baldwin County, Alabama",2011,64.713257,2.854353,01003
3,4,05000US01003,"Baldwin County, Alabama",2012,58.466194,2.189069,01003
4,5,05000US01003,"Baldwin County, Alabama",2013,58.305519,2.135842,01003

In [5]:
df_Mortgage = df[['geoid','FIPS_county','total_se','total_est' ]]

In [7]:
df_Mortgage.head()

          geoid FIPS_county  total_se  total_est
0  05000US01003       01003  2.151021  60.568504
1  05000US01003       01003  2.167124  59.344303
2  05000US01003       01003  2.854353  64.713257
3  05000US01003       01003  2.189069  58.466194
4  05000US01003       01003  2.135842  58.305519

In [9]:
df_Mortgage.to_csv('CleanData/MortgageData-Clean.csv')